.mixte-lce-canvas {
  background-color: #FFF;
  background-image: linear-gradient(45deg, #EFEFEF 25%, transparent 25%, transparent 75%, #EFEFEF 75%, #EFEFEF),
                    linear-gradient(45deg, #EFEFEF 25%, transparent 25%, transparent 75%, #EFEFEF 75%, #EFEFEF);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
}