:root {
  // 字体大小
  --mixte-gt-font-size: 14px;
  // 边框颜色
  --mixte-gt-border-color: #EFEFF5;

  // 表头单元格: 内边距
  --mixte-gt-th-padding: 12px;
  // 表头单元格: 背景色
  --mixte-gt-th-bg: #FAFAFA;
  // 表头单元格: 分割线颜色
  --mixte-gt-th-split-color: #EFEFF5;

  // 表体单元格: 内边距
  --mixte-gt-td-padding: 12px;
  // 表体单元格: 背景色
  --mixte-gt-td-bg: #FFFFFF;
  // 表体单元格: 鼠标移上时背景色
  --mixte-gt-td-bg-hover: #FAFAFA;

  // 展开子级数据的按钮: 颜色
  --mixte-gt-cell-expand-color: #3C3C43;
  --mixte-gt-cell-expand-color-hover: #1677FF;
  // 展开子级数据的按钮: 边框颜色
  --mixte-gt-cell-expand-border-color: #D9D9D9;
  --mixte-gt-cell-expand-border-color-hover: #1677FF;
}

// 包裹层
.mixte-gt-wrap {
  width: 100%; height: 100%;
  position: relative;
  overflow: auto;

  &, &::before, &::after,
  *, *::before, *::after {
    box-sizing: border-box;
  }
}

// 主体
.mixte-gt {
  min-width: 100%; min-height: 100%;
  width: max-content;
  height: var(--mixte-gt-virtual-h, auto);
  will-change: var(--mixte-gt-virtual-h-wc, auto);
  display: grid;
  font-size: var(--mixte-gt-font-size);
  grid-auto-rows: min-content;

  // 表头单元格
  &-th {
    position: sticky; top: 0; z-index: 1;
    font-weight: 700;
    padding: var(--mixte-gt-th-padding);
    background-color: var(--mixte-gt-th-bg);

    // 表头分割线
    &:not(.mixte-gt-bordered > .mixte-gt > &):not(.mixte-gt-bordered > .mixte-gt > .mixte-gt-thead > .mixte-gt-tr > &) {
      &:not(.mixte-gt-cell-last):not(.mixte-gt-cell-fix-left-active-last)::before {
        content: '';
        width: 1px; height: 50%;
        position: absolute; top: 50%; inset-inline-end: 0; transform: translateY(-50%);
        background-color: var(--mixte-gt-th-split-color);
      }
    }
  }

  // 表体单元格
  &-td {
    padding: var(--mixte-gt-td-padding);
    background-color: var(--mixte-gt-td-bg);
    transition: background-color 0.3s;
  }

  // 单元格
  &-cell {
    width: 100%; height: 100%;
    display: grid; align-items: center; justify-items: start;
    white-space: nowrap;
    border-color: var(--mixte-gt-border-color);
    border-bottom: 1px solid var(--mixte-gt-border-color);

    // 列对齐
    &-align-center {
      justify-items: center;
    }
    &-align-right {
      justify-items: end;
    }

    // 固定列
    &-fix {
      position: sticky;

      // 常规状态
      &-left::after, &-right::after {
        content: '';
        width: 30px; height: 100%;
        position: absolute; top: 0;
        pointer-events: none;
        transition: box-shadow 0.3s;
      }
      &-left::after {
        right: 0; transform: translateX(100%);
      }
      &-right::after {
        left: 0; transform: translateX(-100%);
      }

      // 激活状态
      &-left-active-last::after {
        box-shadow: inset 10px 0 8px -8px rgba(5,5,5,0.06);
      }
      &-right-active-last::after {
        box-shadow: inset -10px 0 8px -8px rgba(5,5,5,0.06);
      }
    }

    // 树形数据展开列
    &-expand {
      grid-template-columns: min-content 1fr;

      &-btn {
        width: 17px; height: 17px;
        display: flex; justify-content: center; align-items: center;
        cursor: pointer; margin-right: 8px;
        color: var(--mixte-gt-cell-expand-color);
        border: 1px solid var(--mixte-gt-cell-expand-border-color); border-radius: 3px;
        transition: color 0.3s, border-color 0.3s;

        padding: 0;
        background-color: transparent;
        background-image: none;

        &:hover {
          color: var(--mixte-gt-cell-expand-color-hover);
          border-color: var(--mixte-gt-cell-expand-border-color-hover);
        }

        > svg {
          width: 13px; height: 13px;
        }

        &-spaced {
          visibility: hidden;
        }
      }
    }
  }

  // 边框
  &-bordered {
    border: 1px solid var(--mixte-gt-border-color);

    .mixte-gt-cell:not(.mixte-gt-cell-first):not(.mixte-gt-cell-fix-right-active-last) {
      border-left: 1px solid var(--mixte-gt-border-color);
    }
  }

  // 鼠标悬停行
  &-tr-hover {
    background-color: var(--mixte-gt-td-bg-hover);
  }

  // 加载中
  &-loading-wrap {
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(255, 255, 255, 0.5);
  }
  &-loading {
    width: 100%; height: 100%;
    position: sticky; top: 0; left: 0;
    display: flex; justify-content: center; align-items: center;
  }

  // 无数据
  &-empty-wrap {
    min-height: 150px;
    grid-column: 1 / -1;
    order: 2;
  }
  &-empty {
    height: 100%;
    display: flex; flex-direction: column;
    position: sticky; top: 0; left: 0;
    align-items: center; justify-content: center; gap: 8px;
    
    &-description {
      color: rgba(0,0,0,0.45);
    }
  }
}

// 传统渲染模式
.mixte-gt-render-mode-legacy {
  // 虚拟表格占位
  .mixte-gt-virtual-placeholder {
    height: var(--mixte-gt-virtual-ph, 0);
    will-change: var(--mixte-gt-virtual-h-wc, auto);
  }

  // 表头单元格
  .mixte-gt-th {
    order: 1;
  }

  // 表体单元格
  .mixte-gt-td {
    order: 2;
  }
}

// 现代渲染模式
.mixte-gt-render-mode-modern {
  // 表头
  .mixte-gt-thead {
    display: grid; grid-column: 1 / -1;
    grid-template-columns: subgrid; grid-template-rows: subgrid;
    position: sticky; top: 0; z-index: 3;
    font-weight: 700;
    background-color: var(--mixte-gt-thead-bg);
    order: 1;
  }

  // 表体
  .mixte-gt-tbody {
    display: grid; grid-column: 1 / -1;
    grid-template-columns: subgrid;
    padding-top: var(--mixte-gt-virtual-ph, 0);
    will-change: var(--mixte-gt-virtual-h-wc, auto);
    order: 2;
  }
}
