body {
  @apply text-dynamic bg-dynamic;
  @apply scrollbar scrollbar-rounded;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a,
a:focus,
a:hover {
  @apply cursor-pointer text-primary underline;
}

a,
a:focus,
a:active,
div,
div:focus {
  @apply outline-none;
}